@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
}
body {
font-family: 'Poppins', sans-serif;
}
.sidebar {
position: fixed;
left: -250px;
width: 250px;
height: 100%;
background: #1b1a38;
transition: all .5s ease;
}
.sidebar header {
font-size: 22px;
color: white;
line-height: 70px;
text-align: center;
background: #1b1a38;
user-select: none;
}
.sidebar ul a{
display: block;
height: 100%;
width: 100%;
line-height: 65px;
font-size: 20px;
color: white;
padding-left: 40px;
box-sizing: border-box;
border-bottom: 1px solid black;
border-top: 1px solid rgba(255,255,255,.1);
transition: .4s;
}
ul li:hover a{
padding-left: 50px;
}
.sidebar ul a i{
margin-right: 16px;
}
#check{
display: none;
}
label #btn,label #cancel{
position: absolute;
background: #1b1a38;
border-radius: 3px;
cursor: pointer;
}
label #btn{
left: 40px;
top: 25px;
font-size: 35px;
color: white;
padding: 6px 12px;
transition: all .5s;
}
label #cancel{
z-index: 1111;
left: -195px;
top: 17px;
font-size: 30px;
color: white;
padding: 4px 9px;
transition: all .5s ease;
}
#check:checked ~ .sidebar{
left: 0;
}
#check:checked ~ label #btn{
left: 250px;
opacity: 0;
pointer-events: none;
}
#check:checked ~ label #cancel{
left: 195px;
}
#check:checked ~ section{
margin-left: 250px;
}
section{
background-color: white;
background-size: cover;
height: 100vh;
transition: all .5s;
}

.main {
background-color: white;
text-align: center;
padding: 50px 0;
}

.main h1 {
font-size: 36px;
margin-bottom: 10px;
}

.main p {
font-size: 20px;
margin-bottom: 20px;
}

.exp {
font-size: 20px;
margin: 0px 200px;
}

.input {
text-align: left;
margin: 10px 200px;
}
.output {
text-align: left;
margin: 10px 200px;
padding-bottom: 40px;
}

.output2{
text-align: left;
margin: 10px 200px;
padding-bottom: 40px;
}

.output3{
text-align: left;
margin: 10px 200px;
padding-bottom: 40px;
}

.output4{
text-align: left;
margin: 10px 200px;
padding-bottom: 40px;
}

.output5{
text-align: left;
margin: 10px 200px;
padding-bottom: 40px;
}

.output8{
text-align: left;
margin: 10px 200px;
padding-bottom: 40px;
}

.output6{
text-align: left;
margin: 10px 200px;
padding-bottom: 40px;
}

.output7{
text-align: left;
margin: 10px 200px;
padding-bottom: 40px;
}


.title {
text-align: left;
margin: 0px 200px;
font-weight: bold;
}

.popup{
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #5d6c88; 
    color: white; 
    padding: 15px 25px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold;
    margin: 20px 0px;
}

 .popup:hover {
    background-color: #1b1a38;
  }