body {
margin: 0;
padding: 0;
background: linear-gradient(45deg, #2b2d42, #8d99ae, #edf2f4, skyblue, deepskyblue);
background-size: 300% 500%;
animation: color 12s ease-in-out infinite;
}

@keyframes color{
0%{
background-position: 0 50%;
}
50%{
background-position: 100% 50%;
}
100%{
background-position: 0 50%;
}
}


@media (max-width: 376px) {
body {
min-width: 376px;
}
.h1{
font-size: 26px !important;
}

.login-box-msg{
font-size: 12px !important;
}

.remember{
font-size: 10px !important;
}

.text-white{
font-size: 12px !important;
}

#bt{
font-size: 12px !important;
}

#forgot{
font-size: 12px !important;
}
}
